/*DEFINING THE ROOT ELEMENT STYLING*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    --primary-color: #000000;
    --primary-color-m: #000000a8;
    --secondary-color: #52057b;
    --secondary-color-m: #52057bab;
    --tertiary-color: #5b1e91;
    --tertiary-color-m: #5b1e91ab;
    --light-color: #bc6ff1;
    --light-color-m:#bc6ff1ab;
}
body{
    font-family:'Noto Sans KR', sans-serif;
    line-height: 1.8;
    display: flex;
}

/*STYLING THE SIDE AND MAIN NAV*/
li {
    list-style: none;
}
a:link,
a:visited{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
#sideNav{
    border-right: var(--light-color) 2px solid;
    z-index: 99999;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
}
div.sideNavContent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
}
div.sideNavContentLogo img{
    width: calc(3vw + 3vh); 
    min-width: 53px;
    object-fit: cover;
}
div.sideNavContentLogo img:hover{
    animation-name: scale;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
    border-radius: 50%;
}

@keyframes scale {
    0%{
      transform: none;
    }
    50%{
      transform: scalex(1.5) scaleY(1.5) translateX(10px) translateY(10px);
    }
    100%{
        transform: scalex(2) scaleY(2) translateX(15px) translateY(15px);
    }
  }
ul.sideNavContentSocial {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
ul.sideNavContentSocial a i{
    font-size: calc(1rem + 0.66667vw);
    color: white;
    padding-bottom: calc(2rem + 0.6667vw);
    transition: color 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
ul.sideNavContentSocial a i:hover,
ul.sideNavContentSocial a i:active{
    color: var(--light-color)
}


/*MAIN NAV*/
header#header{
    position: absolute;
}
nav#mainNav{
    z-index: 9999999;
    border: var(--light-color) 2px solid;
    width: 25rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -25rem;
    background-color: var(--secondary-color);
    text-align: center;
}
.clicked{
    left: calc(100vw - 25rem);
}
nav#mainNav div.mainNavHamburg{
   width: 5rem;
   height: 5rem;
   position: fixed;
   top: 2rem;
   right: 3rem;
   right: 3rem;
   cursor: pointer;
   background-color: var(--primary-color);
   padding: 1rem;
   border-radius: 50%;
   display: flex; 
   flex-direction: column;
   justify-content: space-evenly;
}
.line{
    width: 100%;
    height: 0.3rem;
    border-radius: 0.2rem;
    background-color: var(--light-color);
    transition: all 0.4s ease-in-out;
}
ul.mainNavLinks {
    margin: 30vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul.mainNavLinks li{
    margin-bottom: 4vh;
}
.clicked .line-1{
    transform: rotateZ(-765deg) translate(-0.7rem, 0.5rem);
}
.clicked .line-3{
    transform: rotateZ(765deg) translate(-0.7rem, -0.5rem);
}
.clicked .line-2{
    opacity: 0;
}
ul.mainNavLinks li{
    opacity: 0;
}
ul.mainNavLinks li:nth-child(1){
  transition: all 0.3s ease-in-out 0.2s;  
}
ul.mainNavLinks li:nth-child(2){
  transition: all 0.3s ease-in-out 0.4s;  
}
ul.mainNavLinks li:nth-child(3){
  transition: all 0.3s ease-in-out 0.6s;  
}
ul.mainNavLinks li:nth-child(4){
  transition: all 0.3s ease-in-out 0.8s;  
}
ul.mainNavLinks li:nth-child(5){
  transition: all 0.3s ease-in-out 1.0s;  
}
ul.mainNavLinks li.fade{
    opacity: 1;
}


ul.mainNavLinks li a{
    position: relative;
    font-size: calc(1rem + 0.6667vw);
}
ul.mainNavLinks li a:link::before,
ul.mainNavLinks li a:visited::before,
ul.mainNavLinks li a:link::after,
ul.mainNavLinks li a:visited::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: var(--light-color);
    transform: scaleX(0);
    transition: transform 0.3s linear;
}
ul.mainNavLinks li a:link::before,
ul.mainNavLinks li a:visited::before{
    top: 0;
    transform-origin: left;
}
ul.mainNavLinks li a:link::after,
ul.mainNavLinks li a:visited::after{
    bottom: 0;
    transform-origin: right;
}
ul.mainNavLinks li a:hover::before,
ul.mainNavLinks li a:active::before,
ul.mainNavLinks li a:hover::after,
ul.mainNavLinks li a:active::after{
    transform: scaleX(1);
}


section#wall{
    height: 100vh;
    background-image: url('https://cdn.wallpapersafari.com/90/67/oHA0wZ.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
div.content{
    background-color: var(--secondary-color-m);
    padding: calc(1rem + 2vw);
    height: calc(5rem + 20vmax);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: hero 1s cubic-bezier(.19,.76,.48,1.61);
}
.contentTitle{
    font-size: calc(2rem + 3vw);
    color: white;
}
.contentPara{
    font-size: calc(1.5rem + 1vw);
    font-weight: 500;
    color: white;
}
.contentLink:link,
.contentLink:visited{
    text-align: center;
    padding: 1rem 1rem;
    transition: all 0.5s ease-in-out;
    width: 9rem;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    position: relative;
    z-index: 1;
}
.contentLink:link::after,
.contentLink:visited::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index:-1 ;
}
.contentLink:hover::after,
.contentLink:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
@keyframes hero{
    0%{
        transform: translateX(100rem) rotate(270deg);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}



section#project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    background-color: var(--tertiary-color);
}
div.projectCard{
    position: relative;
    padding: 2rem;
    flex-basis: 40rem;
    flex-grow: 1;
}

div.projectCard img{
    border-radius: 50px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}
div.projectCard img:hover,
div.projectCard img:active{
    filter: brightness(70%);
}



.overlay {
    border-radius: 50px;
    object-fit: cover;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 2rem;
    /* height: 100%;
    width: 100%; */
    opacity: 0;
    transition: .5s ease;
    background-color: var(--primary-color-m);
  }
  div.projectCard:hover .overlay,
  div.projectCard:active .overlay {
    opacity: 1;
  }
  .name{
    color: white;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
  }
  .text {
    color: white;
    font-size: 1.5rem;
    word-wrap: normal;
    text-align: center;
  }

section#aboutMe{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: var(--secondary-color);
}
.aboutMeImg,
.aboutMeContent{
    flex-basis: 40rem;
    padding: 2rem;
    flex-grow: 1;
}
.aboutMeImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutMeTitle{
    font-size: 4rem;
    padding: 1rem 0;
    color: var(--primary-color);
    text-transform: uppercase;
    position: relative;
}
.aboutMeTitle::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.3rem;
    width: 10%;
    background-color: var(--light-color);
}
.aboutMeTitle,
.aboutMePara{
    margin-bottom: 2rem;
    letter-spacing: 0.2rem;
}
.aboutMePara{
    color: var(--light-color);
    font-size: 1.8rem;
    font-family:'Noto Sans KR', sans-serif;
}
.aboutMeLink:link,
.aboutMeLink:visited{
    color: var(--light-color);
    padding: 1rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
.aboutMeLink:link::after,
.aboutMeLink:visited::after{
    color: var(--light-color);

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: -1;
}
.aboutMeLink:hover::after,
.aboutMeLink:active::after{
    transform: scaleY(1);
    transform-origin: top;
}

@media screen and (max-width: 750px){
    section#wall{
        background-position: 100%;
        align-items: flex-end;
    }
}



